@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
body{
    margin: 0px;
    font-family: Roboto;
}
/*MAIN ELEMENT*/
.main{
    display: flex;
    min-height: 950px;
    background-color: green-;
}
.slider{
    display: flex;
    flex: 1;
}
/*NEWS ELEMENT*/
.news{
    flex: 2;
    background-color: blueviolet-;
    padding-left: 10px;
    padding-right: 10px;
}
.news > h2{
    color: #0047FF;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.news-line{
    max-height: 4px;
    min-height: 4px;
    background-color: #0047FF;
}
.line {
    max-height: 4px;
    min-height: 4px;
}
.kg-news, .gschule-news, .hschule-news {
    flex-grow: 1;
}
.theme-txt{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*KG NEWS*/
.kg-theme-line{
    background-color: #FFC700;
    margin: 0;
}
.kg{
    color: #FFC700;
}
/*KG NEWS END*/
/*GS NEWS*/
.gs-theme-line{
    background-color: #FF8A00;
    margin: 0;
}
.gs{
    color: #FF8A00;
}
/*GS NEWS END*/
/*HS NEWS*/
.hs-theme-line{
    background-color: #FF2E00;
    margin: 0;
}
.hs{
    color: #FF2E00;
}
/*HS NEWS END*/
.news-content{
    margin-top: 0;
    padding-left: 10px;
    flex: 1;
    
}
.arrow-right:after{
    content: ' \2192';
    float: right;
}

/*NEWS ELEMENT END*/

/*SLIDER ELEMENT*/
.slider{
    padding: 40px;
    max-height:  500px;
}
/*SLIDER ELEMENT END*/

/*MAIN ELEMENT END*/
.highlight{
    background-color: indigo-;
    margin-top: 20px;
}
a:hover, a:active, a:visited, a:link{
    text-decoration: none;
    color: black;
}
h4 {
    margin-top: 0;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}